html {
    font-family: Verdana;
}


.header {
    display: flex;
    justify-content: left;
}

.logo {
    margin: 1rem;
}

.datos-cliente {
    background-color: #55ccff;
}

.datos-pedido {
    background-color: #40ccbb;
}

label {
    display: inline-block;
    text-align: right;
    width: 12%;
}

input {
    display: inline-block;
    text-align: left;
    width: 15%;
}

div.block {
    display: block;
}

input.box {
    width: 1%;
}